<div class="container">
  <br />
  <div class="jumbotron">
    <h1 class="display-4">All done!</h1>
    <h2 class="dispay-4">We're mailing a copy of your PDF to Code for America's offices.</h2>
    <br />

    <ul>
      <li>Mail type: USPS Certified Mail</li>
      <li>Expected delivery date: Friday, 03/22/2019</li>
      <li>USPS Tracking: <a href="https://tools.usps.com/go/TrackConfirmAction?tLabels=92071902358909000000235925">92071902358909000000235925</a></li> 
    </ul>

  </div>
</div>