<div class="container">
  <br />
  <div class="jumbotron">
    <h1 class="display-4">Apply for Benefits in Alaska</h1>
    <br />

    <p class="lead">
      Fill out the online application, sign it, and we'll mail it to the State for you. 👍
    </p>

    <br />

    <a class="btn btn-primary btn-lg" href="https://demo.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=e7d8632c-eeb5-45df-aaa7-3f0046323fea&env=demo&v=2">
      Apply
    </a>

    <hr />

    <br />

    <div class="row">
      <div class="col-sm-8">
        <p class="lead">
          <a href="https://www.codeforamerica.org" onclick="trackOutboundLink('https://www.codeforamerica.org'); return false;">Code for America</a> put the PDF of Alaska’s application for benefits online to make it easier for you to apply. This version is identical to the paper version but allows you to fill it in using your phone or computer. We'll even pay to mail it for you. 
        </p>
      </div>
      <div class="col-sm-4">
        <a href="https://www.codeforamerica.org" onclick="trackOutboundLink('https://www.codeforamerica.org'); return false;"><img src="cfa_logo.png" /></a>
      </div>
    </div>
  </div>
</div>