<div class="emoji emoji--med emoji--pencil"></div>
<p class=" with-no-padding"><b>Step 2</b></p>
<p class="text--small with-padding-small">Fill out the downloaded application. Make sure to sign it.</p>