<div class="emoji emoji--med emoji--page-facing-up"></div>
<p class=" with-no-padding"><b>Step 1</b></p>
<p class="text--small with-padding-small"><a href="GEN%2050C.pdf" onclick="trackOutboundLink('http://alaskabenefits.org/GEN%2050C.pdf'); return gtag_report_conversion('http://alaskabenefits.org/GEN%2050C.pdf')">Download the PDF</a></p>