<div class="emoji emoji--med emoji--envelope"></div>
<p class=" with-no-padding"><b>Step 3</b></p>
<p class="text--small with-padding-small">Upload it, and we’ll mail it to the Public Assistance Office for you.</p>