<section class="slab slab--off-white">
  <div class="grid">
    <h2>This is a new website</h2>
    <div class="grid__item width-full">
      <div class="notice">
        <p>AlaskaBenefits.org is a new service being prototyped by <a href="https://www.codeforamerica.org" target="_blank">Code for America</a> to make it possible for Alaskans to apply for benefits online. Normally, you must bring or mail your printed out application into the <a href="http://dhss.alaska.gov/dpa/Pages/contacts.aspx" target="_blank">closest Public Assistance Office</a>. This website is a prototype of a digital application process.</p>
        <p>After you submit your application, we'll be in touch by text message or email to follow up on the status of your case. We want to learn how to best make a digital process, to help everyone who is applying for benefits.</p>
      </div>
    <%= link_to "Continue", "/upload", class: "button button--primary button--large with-padding-med" %>
    </div>
</section>
