<% content_for :google_ads_conversion do %>
  // snippet for Download PDF conversion page
  // In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.

  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-780066360/fRCOCMCvpZQBELi8-_MC',
        'event_callback': callback
    });
    return false;
  }
<% end %>

<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Download the PDF</h1>
      <%= link_to "Download the PDF", "/GEN%2050C.pdf", class: "button button--cta button--large with-padding-med", target: "_blank", onclick: "gtag_report_conversion();" %>
      <%# <%= link_to "Submit my application", "/consent", class: "button button--cta button--large with-padding-med" %>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item width-full">
      <h2><a id="instructions"></a>How to fill out the application</h2>
      <ol class="list--numbered">
        <li>Download the application to your computer.</li>
        <li>Open the PDF using <a href="https://get.adobe.com/reader/">Adobe Acrobat Reader</a> on Windows or the Preview app on a Mac.</li>
        <li>Fill out the application. It begins on page 7.</li>
        <li>Sign the application. Signatures are required on page 7, 17 and 18.</li>
        <div class="reveal">
          <p><a href="#" class="reveal__link">Learn more about how to sign the PDF</a></p>
          <div class="reveal__content">
            <h4>Windows</h4>
            <p class="text--help">(from <a href="https://www.howtogeek.com/164668/how-to-electronically-sign-documents-without-printing-and-scanning-them/">howtogeek.com</a>):</p>

            <ol class="list--numbered">
              <li>Open the PDF document in the Adobe Acrobat Reader DC application. Click the “Fill & Sign” button in the right pane.</li>
              <li>Click the “Sign” button on the toolbar and select “Add Signature” to add your signature to Adobe Acrobat Reader DC.</li>
              <li>select “Draw” and then draw your signature using your mouse or a touch screen. You can also select “Image” if you’d like to sign a piece of paper, scan it with a scanner, and then add your written signature to Adobe Reader.</li>
              <li>After creating a signature, click “Apply” to apply it to the document. If you are using a public computer, leave “Save Signature” unchecked.</li>
              <li>Position your signature where you want it with your mouse and click to apply it. If you chose to save your signature, you’ll find it easily accessible in the “Sign” menu in the future.</li>
            </ol>

            <h4>Mac</h4>
            <p class="text--help">(from <a href="https://support.apple.com/guide/preview/fill-out-and-sign-pdf-forms-prvw35725/mac">apple.com</a>):</p>
            <p>You can capture your signature using your trackpad or a camera on your Mac, to reuse in PDFs.</p>

            <ol class="list--numbered">
              <li>In the Preview app  on your Mac, if the Markup toolbar isn’t showing, click the Show Markup Toolbar button , then click the Sign button .</li>
              <li>Follow the onscreen instructions to create and save your signature.</li>
              <li>Create a signature using your trackpad: Click Trackpad, click the text as prompted, sign your name on the trackpad using your finger, press any key, then click Done. If you don’t like the results, click Clear, then try again.</li>
              <li>If your Mac has a Force Touch trackpad, you can press your finger more firmly on the trackpad to sign with a heavier, darker line.</li>
              <li>Create a signature using your computer’s built-in camera: Click Camera. Hold your signature (on white paper) facing the camera so that your signature is level with the blue line in the window. When your signature appears in the window, click Done. If you don’t like the results, click Clear, then try again.</li>
              <li>Add the signature to your PDF.</li>
              <li>Choose the signature you want to use, drag it to where you want it, then use the handles to adjust the size.</li>
            </ol>
          </div>
        </div>
      </ol>

    </div>
  </div>
</section>


