<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Apply for Public Benefits in Alaska</h1>

      <a href="GEN%2050C.pdf" onclick="trackOutboundLink('http://alaskabenefits.org/GEN%2050C.pdf'); return gtag_report_conversion('http://alaskabenefits.org/GEN%2050C.pdf')"><button class="button button--cta button--large with-padding-med">Download the PDF</button></a>

      <p class="text--help"><a href="https://www.codeforamerica.org" onclick="trackOutboundLink('https://www.codeforamerica.org'); return false;">Code for America</a> has created a fillable PDF version of Alaska’s application for benefits to make it easier for you to apply. This version is identical to the paper version but allows you to fill it in using your phone or computer before you print. Follow the steps below to get your application to the Division of Public Assistance for processing.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-tablet-hidden">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--page-facing-up"></div>
      <p class=" with-no-padding"><b>Step 1</b></p>
      <p class="text--small with-padding-small"><a href="GEN%2050C.pdf" onclick="trackOutboundLink('http://alaskabenefits.org/GEN%2050C.pdf'); return gtag_report_conversion('http://alaskabenefits.org/GEN%2050C.pdf')">Download the PDF</a></p>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--pencil"></div>
      <p class=" with-no-padding"><b>Step 2</b></p>
      <p class="text--small with-padding-small">Fill out the downloaded application. Make sure to sign it.</p>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--receiver"></div>
      <p class=" with-no-padding"><b>Step 3</b></p>
      <p class="text--small with-padding-small">Mail it to your <a href="http://dhss.alaska.gov/dpa/Pages/contacts.aspx">local Public Assistance Office</a>.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-desktop-hidden">
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <div class="emoji emoji--med emoji--page-facing-up"></div>
      <p class=" with-no-padding"><b>Step 1</b></p>
      <p class="text--small with-padding-small"><a href="GEN%2050C.pdf" onclick="trackOutboundLink('http://alaskabenefits.org/GEN%2050C.pdf'); return gtag_report_conversion('http://alaskabenefits.org/GEN%2050C.pdf')">Download the PDF</a></p>
    </div>
    <div class="vertical-steps__step">
      <div class="emoji emoji--med emoji--pencil"></div>
      <p class=" with-no-padding"><b>Step 2</b></p>
      <p class="text--small with-padding-small">Fill out the downloaded application. Make sure to sign it.</p>
    </div>
    <div class="vertical-steps__step">
      <div class="emoji emoji--med emoji--receiver"></div>
      <p class=" with-no-padding"><b>Step 3</b></p>
      <p class="text--small with-padding-small">Mail it to your <a href="http://dhss.alaska.gov/dpa/Pages/contacts.aspx">local Public Assistance Office</a>.</p>
    </div>
  </div>
</section>